@model IPagedList<Cliente>
@{
    ViewData["Title"] = "Colaboradores";
    var pesquisa = Context.Request.Query["pesquisa"];
}
<br />
<h1>Clientes</h1>
<hr />

<br />
<!--
    Formulário
    -- QueryStrin: Colaborador/Cliente/Index?pesquisa={palavra_digitada}&pagina={numero_da_pagina}
-->
<form method="get">
    <div class="form-group row">
        <div class="col-md-8"  style="padding-right:0;">
            <input type="text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="Digite o nome ou e-mail do cliente" style="border-top-right-radius: 0; border-bottom-right-radius: 0;
">
        </div>
        <div class="col-md-4" style="padding-left:0;">
            <button type="submit" class="btn btn-primary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"><i class="fas fa-search"></i> Pesquisar</button>
        </div>
    </div>
</form>
<br />
@if (TempData["MsgSucesso"] != null)
{
    <p class="alert alert-success">
        @TempData["MsgSucesso"]
    </p>
}

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x => x.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.First().Email)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cliente cliente in Model)
                {
                    <tr>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Email</td>
                        <td>
                            @if (cliente.Situacao == Situacao.ATIVO)
                            {
                                <a asp-action="AtivarDesativar" asp-controller="Cliente" asp-route-id="@cliente.Id" class="btn btn-danger ativarDesativarCliente"><i class="fas fa-pen"></i> Desativar</a>
                            }
                            else
                            {
                                <a asp-action="AtivarDesativar" asp-controller="Cliente" asp-route-id="@cliente.Id" class="btn btn-success ativarDesativarCliente"><i class="fas fa-pen"></i> Ativar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina = pagina, pesquisa = pesquisa})) <!-- Este trecho de código exibe os números das páginas-->
}
else
{
    <div class="alert alert-warning">
        <center>Nenhum colaborador cadastrado</center>
    </div>
}
@{
    @*@if (categoria.CategoriaPai == null)
        {
            <span>---</span>
        }
        else
        {
            <span>@categoria.CategoriaPai.Id - @categoria.CategoriaPai.Nome</span>
        }*@
}