@model IPagedList<Produto>
@{
    ViewData["Title"] = "Produtos";
    var pesquisa = Context.Request.Query["pesquisa"];
}
<br />
<h1>Produtos</h1>
<hr />

<br />
<!--
    Formulário
    -- QueryString: Colaborador/Cliente/Index?pesquisa={palavra_digitada}&pagina={numero_da_pagina}
-->
<form method="get">
    <div class="form-group row">
        <div class="col-md-8" style="padding-right:0;">
            <input type="text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="Digite o nome do produto" style="border-top-right-radius: 0; border-bottom-right-radius: 0;
">
        </div>
        <div class="col-md-4" style="padding-left:0;">
            <button type="submit" class="btn btn-primary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"><i class="fas fa-search"></i> Pesquisar</button>
        </div>
    </div>
</form>
<br />
@if (TempData["MsgSucesso"] != null)
{
    <p class="alert alert-success">
        @TempData["MsgSucesso"]
    </p>
}

<a asp-action="Cadastrar" class="btn btn-primary" style="margin:15px 0px"><i class="fas fa-plus-circle"></i> Cadastrar</a>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x => x.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.First().Categoria)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.First().Valor)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Produto produto in Model)
                {
                    <tr>
                        <td>@produto.Id</td>
                        <td>@produto.Nome</td>
                        <td>@produto.CategoriaId</td>
                        <td>@produto.Valor</td>
                        <td>
                            <a asp-action="Atualizar" asp-route-id="@produto.Id" class="btn btn-secondary"><i class="fas fa-pen"></i> Atualizar</a>
                            <a asp-action="Excluir" asp-route-id="@produto.Id" class="btn btn-danger"><i class="fas fa-trash"></i> Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina = pagina, pesquisa = pesquisa })) <!-- Este trecho de código exibe os números das páginas-->
}
else
{
    <div class="alert alert-warning">
        <center>Nenhum produto cadastrado</center>
    </div>
}