@model IPagedList<Categoria>
@{
    ViewData["Title"] = "Categorias";
}
<br />
<h1>Categorias</h1>
<hr />
<a asp-action="Cadastrar" class="btn btn-primary" style="margin:15px 0px"><i class="fas fa-plus-circle"></i> Cadastrar</a>

@if (TempData["MsgSucesso"] != null)
{
    <p class="alert alert-success">
        @TempData["MsgSucesso"]
    </p>
}

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x => x.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.First().CategoriaPaiId)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Categoria categoria in Model)
                {
                    <tr>
                        <th scope="row">@categoria.Id</th>
                        <td>@categoria.Nome</td>
                        <td>
                            @Html.DisplayFor(model => categoria.CategoriaPai.Id)
                            -
                            @Html.DisplayFor(model => categoria.CategoriaPai.Nome)
                        </td>
                        <td>
                            <a asp-action="Atualizar" asp-route-id="@categoria.Id" class="btn btn-secondary"><i class="fas fa-pen"></i> Atualizar</a>
                            <a asp-action="Excluir" asp-route-id="@categoria.Id" class="btn btn-danger delCategoria" data-categoria="@categoria.Nome"><i class="fas fa-trash"></i> Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina })) <!-- Este trecho de código exibe os números das páginas-->
}
else
{
    <div class="alert alert-warning">
        <center>Nenhuma categoria cadastrada</center>
    </div>
}
@{
    @*@if (categoria.CategoriaPai == null)
        {
            <span>---</span>
        }
        else
        {
            <span>@categoria.CategoriaPai.Id - @categoria.CategoriaPai.Nome</span>
        }*@
}